.container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxes{
  min-width:400px;
  width:600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  

}

.box{
  background-color: rgb(49, 49, 237);
  color:white;
  border:1px solid black;
  height: 35px;
  cursor: pointer;
  text-align: center;

}

.red-box{
  background-color: rgb(241, 47, 47);
  color:white;
  border:1px solid black;
  height: 35px;
  cursor: pointer;
  text-align: center;
}